name: n8n Korea Anti-Crash
on: 
  workflow_dispatch:

jobs:
  deploy-n8n:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: 1. Start n8n (Pecah Variable)
        run: |
          echo "Gas nyalain n8n (Korea Server)..."
          
          # Kita pake metode Variable Terpisah
          # Ini AMAN walau password lu ada karakter aneh (@ # /)
          
          docker run -d \
            --name n8n \
            -p 5678:5678 \
            -e N8N_SECURE_COOKIE=false \
            -e N8N_PROTOCOL=https \
            -e N8N_ENCRYPTION_KEY="kuncirahasiajuragan123" \
            -e DB_TYPE=postgresdb \
            -e DB_POSTGRESDB_HOST="aws-1-ap-northeast-2.pooler.supabase.com" \
            -e DB_POSTGRESDB_PORT="6543" \
            -e DB_POSTGRESDB_DATABASE="postgres" \
            -e DB_POSTGRESDB_USER="postgres.iziozhblgzhokbeoefei" \
            -e DB_POSTGRESDB_PASSWORD="${{ secrets.DB_PASS }}" \
            -e DB_POSTGRESDB_SSL_REJECT_UNAUTHORIZED=false \
            n8nio/n8n:latest
          
          echo "Lagi inisialisasi Database (Tunggu 20 detik)..."
          sleep 20

      - name: 2. CEK LOG (Kalo Masih Error Liat Sini)
        run: |
          echo "=== LOG N8N ==="
          docker logs n8n --tail 50
          echo "==============="

      - name: 3. Start Cloudflare Tunnel
        run: |
          echo "Online-kan..."
          docker run \
            --name cloudflared \
            --network host \
            cloudflare/cloudflared:latest \
            tunnel --no-autoupdate run --token ${{ secrets.CF_TOKEN }}
