name: n8n Supabase Permanent
on: 
  workflow_dispatch:

jobs:
  deploy-n8n:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: 1. Start n8n (Konek Supabase)
        run: |
          echo "Gas nyalain n8n..."
          echo "Konek ke: db.iziozhblgzhokbeoefei.supabase.co"
          
          docker run -d \
            --name n8n \
            -p 5678:5678 \
            -e N8N_SECURE_COOKIE=false \
            -e N8N_PROTOCOL=https \
            -e N8N_ENCRYPTION_KEY="kuncirahasiajuragan123" \
            -e DB_TYPE=postgresdb \
            -e DB_POSTGRESDB_HOST="db.iziozhblgzhokbeoefei.supabase.co" \
            -e DB_POSTGRESDB_PORT="5432" \
            -e DB_POSTGRESDB_DATABASE="postgres" \
            -e DB_POSTGRESDB_USER="postgres" \
            -e DB_POSTGRESDB_PASSWORD="${{ secrets.DB_PASS }}" \
            n8nio/n8n:latest
          
          echo "Lagi inisialisasi Database Supabase (Tunggu 30 detik)..."
          # Wajib nunggu agak lama karena pertama kali dia bakal bikin tabel banyak banget
          sleep 30

      - name: 2. Start Cloudflare Tunnel
        run: |
          echo "Online-kan..."
          docker run \
            --name cloudflared \
            --network host \
            cloudflare/cloudflared:latest \
            tunnel --no-autoupdate run --token ${{ secrets.CF_TOKEN }}
