name: n8n DEBUG MODE
on: 
  workflow_dispatch:

jobs:
  debug-n8n:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: 1. Start n8n (Log Level: Debug)
        run: |
          echo "Start n8n..."
          
          # Gue tambahin N8N_LOG_LEVEL=debug biar cerewet
          # Gue tambahin SSL Reject false biar gak error sertifikat
          
          docker run -d \
            --name n8n \
            -p 5678:5678 \
            -e N8N_SECURE_COOKIE=false \
            -e N8N_PROTOCOL=https \
            -e N8N_LOG_LEVEL=debug \
            -e DB_TYPE=postgresdb \
            -e DB_POSTGRESDB_HOST="aws-1-ap-northeast-2.pooler.supabase.com" \
            -e DB_POSTGRESDB_PORT="6543" \
            -e DB_POSTGRESDB_DATABASE="postgres" \
            -e DB_POSTGRESDB_USER="postgres.iziozhblgzhokbeoefei" \
            -e DB_POSTGRESDB_PASSWORD="${{ secrets.DB_PASS }}" \
            -e DB_POSTGRESDB_SSL_REJECT_UNAUTHORIZED=false \
            n8nio/n8n:latest
          
          echo "Nunggu 20 detik..."
          sleep 20

      - name: 2. >>> LIAT ERROR DISINI <<<
        if: always() # Step ini bakal tetep jalan walau n8n mati
        run: |
          echo "=========================================="
          echo "   INI ISI PERUT N8N (ERROR LOG)   "
          echo "=========================================="
          docker logs n8n
          echo "=========================================="

      - name: 3. Start Cloudflare Tunnel
        run: |
          docker run \
            --name cloudflared \
            --network host \
            cloudflare/cloudflared:latest \
            tunnel --no-autoupdate run --token ${{ secrets.CF_TOKEN }}
