name: Debug n8n Crash
on: 
  workflow_dispatch:

jobs:
  debug-n8n:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: 1. Start n8n (Test Database)
        run: |
          echo "Nyalain n8n..."
          # Coba connect pake Pooler Singapore dulu
          docker run -d \
            --name n8n \
            -p 5678:5678 \
            -e N8N_SECURE_COOKIE=false \
            -e DB_TYPE=postgresdb \
            -e DB_POSTGRESDB_HOST="aws-0-ap-southeast-1.pooler.supabase.com" \
            -e DB_POSTGRESDB_PORT="6543" \
            -e DB_POSTGRESDB_DATABASE="postgres" \
            -e DB_POSTGRESDB_USER="postgres.iziozhblgzhokbeoefei" \
            -e DB_POSTGRESDB_PASSWORD="${{ secrets.DB_PASS }}" \
            n8nio/n8n:latest
          
          echo "Tunggu 10 detik..."
          sleep 10

      - name: 2. CEK KENAPA N8N MATI (Liat Log Ini)
        run: |
          echo "=== INI LOG ERROR NYA ==="
          docker logs n8n
          echo "========================="
          
      - name: 3. Start Cloudflare (Tetep jalanin siapa tau hokinya gede)
        run: |
          docker run \
            --name cloudflared \
            --network host \
            cloudflare/cloudflared:latest \
            tunnel --no-autoupdate run --token ${{ secrets.CF_TOKEN }}
